body {
  text-align: center;
  background: #003049;
  margin: 10vw;
  font-family: 'Alata', sans-serif;

}

div {
  display: inline-block;
}

button {
  display: inline-block;
  padding: 10vw;
  font-family: 'Alata', sans-serif;
  background-color: #f77f00;
  border: none;
  color: #003049;
  font-size: 10vw;
  cursor: pointer;
}

h1 {
  color: #eae2b7;
  font-style: normal;
  font-size: 10vw;
}

footer {
  color: #FCBF49;
  position: fixed;
  left:0;
  bottom: 0;
  width: 100%;
  padding: 1vw;
  font-size: 3vw;
}

a {
  color: inherit;
}

/* @media only screen and (min-width: 200px) {
  button {
    padding: 10vw;
    font-size: 10vw;
  }
  h1 {
    font-size: 10vw;
  }
} */

@media only screen and (min-width: 768px) {
  button {
    padding: 2vw;
    font-size: 2vw;
  }
  h1 {
    font-size: 2vw;
  }
  footer{
    font-size: 1vw;
  }
}
